/* Change main headings */
h1,
h2,
h3 {
    color: #015287;
}

/* Change function names */
.codehilite {
    color: #009adb;
}

/* Sidebar background */
nav {
    background-color: #f4f6f9;
}

/* Links */
a {
    color: #0066cc;
}

a:hover {
    color: #003366;
}